<div id="<%= dom_id book_comment %>">

  <header class="comment_header">
    <div class="comment_title"><%= link_to book_comment.user.name, book_comment.user %></div>
    <time><%= book_comment.created_at %></time>
  </header>

  <div class="comment_description">
    <p><%= book_comment.content %></p>
  </div>
</div>
