<div id="<%= dom_id book_comment %>">
  <p>
    <strong>Book:</strong>
    <%= book_comment.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book_comment.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= book_comment.content %>
  </p>

</div>
