<h1>Editing book comment</h1>

<%= render "form", book_comment: @book_comment %>

<br>

<div>
  <%= link_to "Show this book comment", @book_comment %> |
  <%= link_to "Back to book comments", book_comments_path %>
</div>
