<div id="<%= dom_id report_comment %>">
  <p>
    <strong>Report:</strong>
    <%= report_comment.report_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= report_comment.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report_comment.content %>
  </p>

</div>
