<h1>Editing report comment</h1>

<%= render "form", report_comment: @report_comment %>

<br>

<div>
  <%= link_to "Show this report comment", @report_comment %> |
  <%= link_to "Back to report comments", report_comments_path %>
</div>
