<h1>ユーザ一覧</h1>
<% @book_users.each do |book_user| %>
<div><a href="/book_users/<%= book_user.account_id %>"><%= book_user.name %></a>
</div>
<% end %>
<br>
<div><%= paginate @book_users %></div>
<hr>
<%= link_to '戻る', '/books' %>
